:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;

  --color-stop1: #ef8d9c;
  --color-stop2: #ffc39e;
}


/* ================================================== */
/* BASIC SETUP */
/* ================================================== */
* {
  box-sizing: border-box;
  transition: 0.3s;
}

html,
body {
  padding: 0;
  margin: 0;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

/* === Headings === */
h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

/* === Buttons === */
.btn {
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.btn-showcase {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
	text-align: center;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn-showcase:hover {
  background-color: rgba(255, 255, 255, 0.12);
}


/* ================================================== */
/* HEADER */
/* ================================================== */
.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: 4px 6px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 14px -5px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation a {
  color: var(--mainText);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2ace3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  border-radius: 4px;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 80px;
  overflow: hidden;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}


/* ================================================== */
/* ABOUT & SKILLS */
/* ================================================== */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: start;
  background-color: var(--previewShadow);
}


/* ================================================== */
/* SOCIAL MEDIA */
/* ================================================== */
.social-links {
  display: grid;
  align-content: flex-start;
  text-align: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.btn-github {
  background-color: #333;
}

.btn-twitter {
  background-color: #1da1f2;
}

.btn-instagram {
  background-color: #e4405f;
}

.btn-linkedin {
	background-color: #0A66C2;
}


/* ================================================== */
/* PROJECT SHOWCASE */
/* ================================================== */
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.card-item {
  display: flex;
  padding: 1rem;
}

.card-item:hover {
  transform: translateY(-15px);
}

@media (min-width: 40rem) {
  .card-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .card-item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
  background: linear-gradient(to bottom left, var(--color-stop1) 40%, var(--color-stop2) 100%);
}

.card-title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card-text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
	height: 150px;
}

.card-buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -1px 14px -5px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  margin: auto;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 16px;
}


/* ================================================== */
/* CONTACT FORM */
/* ================================================== */
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  background-color: var(--buttonColor);
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}
